@import "tailwindcss";

@theme {
  --color-primary: #1E2A78;
  --color-secondary: #2EC4B6;
  --color-accent: #FFB703;
  --color-bg-neutral: #F8F9FB;
  --color-surface: #FFFFFF;
  --color-text-primary: #1C1C1C;
  --color-text-secondary: #6B7280;
  --color-success: #22C55E;
  --color-error: #EF4444;
  --font-sans: 'Inter', 'Poppins', sans-serif;
}